.tableHeading {
  background: #ccc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  float: left;
  padding: 10px 0;
  width: 100%;
}
.playerList {
  list-style-type: none;
  margin-left: 0;
  li {
    background: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    cursor: pointer;
    padding: 10px;
    transition: all .5s ease-in-out;
    .icon {
      max-width: 25px;
    }
    &:hover {
      background: #ccc;
      transition: all .5s ease-in-out;
    }
    &:last-child {
      border-bottom: 1px solid #ccc;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}