.tableHeading {
  background: #ccc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  float: left;
  padding: 10px 0;
  width: 100%;
}
.playerList {
  list-style-type: none;
  margin-left: 0;
  li {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    cursor: pointer;
    padding: 10px;
    transition: all .5s ease-in-out;
    &:nth-child(even) {
      background: $ltBlue;
    }
    &:nth-child(odd) {
      background: $ltGrey;
    }
    &:hover {
      background: #ccc;
      transition: all .5s ease-in-out;
    }
    &:last-child {
      border-bottom: 1px solid #ccc;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
    .icon, .region {
      max-width: 25px;
    }
  }
}
.form-wrapper {
  border-radius: 6px;
  border: 1px solid #1779ba;
  margin-bottom: 15px;
  input, select {
    margin-bottom: 0;
  }
  .formHeading {
    background: #1779ba;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 15px;
    font-weight: bold;
    color: $white;
  }
  .form {
    padding: 15px;
  }
}