.menu {
  a {
    transition: all, .5s, ease-in-out;
    &:hover {
      background: #1779ba;
      color: white;
      transition: all, .5s, ease-in-out;
    }
  }
  li:hover > a {
    background: #1779ba;
    color: white;
    transition: all, .5s, ease-in-out;
  }
  li {
    position: relative;
  }
  li:hover ul {
    display: block;
  }
  ul {
    display: none;
    position: absolute;
    list-style-type: none;
    top: 38px;
    right: 0;
    a {
      background: #1779ba;
      color: $white;
    }
  }
}