.menu {
  a {
    transition: all, .5s, ease-in-out;
    &:hover {
      background: #1779ba;
      color: white;
      transition: all, .5s, ease-in-out;
    }
  }
  li {
    position: relative;
  }
  li:hover ul li {
    display: block;
  }
  ul li {
    display: none;
    position: absolute;
    top: 38px;
    right: 0;
    a {
      background: #1779ba;
      color: $white;
    }
  }
}